.top_account {
    height: 40%;
    width: 100%;
    border-bottom: solid 1px black;
    position: absolute;
    top: 50.8125px;
    background-image: url("../img/account_header.jpg");
    background-size: cover;
    background-position: center;
}

.form_section {
    height: 40%;
    width: 100%;
    position: absolute;
    top: 50%;
}