.banner {
    height: 25%;
    width: 100%;
    border-bottom: solid 1px black;
    position: absolute;
    top: 50.8125px;
    background-size: cover;
    background-position-x: center;
    background-position-y: 60%;
}

.custom_banner {
    background-image: url("../img/account_header.jpg");
}

.form_section {
    height: 40%;
    width: 100%;
    position: absolute;
    top: 50%;
}

#openfoodfacts{
    color: antiquewhite;
}

#openfoodfacts:hover{
    color: $bonbon;
}

.table >tr{
    border-bottom-color: $bonbon;
}

.custom_banner .h3 {
    font-size: 0.5em;
}