  :root {
    --nutriscoreA: #0e8c4f;
    --nutriscoreB: #7ec247;
    --nutriscoreC: #fbcb29;
    --nutriscoreD: #fb7f1d;
    --nutriscoreE: #f13c1d;
    --title_font: 'Open Sans', sans-serif;
    --base_font: 'Scope One', sans-serif;
  }

  $chocolat: #c45525;
  $moules:#345a61;
  $bonbon:#86ebe6;
  $caramel:#de9440;
  $biscuit:#e8a75d;
  
  body {
    min-width: 320px;
    background: linear-gradient(90deg, var(--bs-biscuit), var(--bs-caramel));
    font: var(--base_font);
  }

  h6,
  .h6,
  h5,
  .h5,
  h4,
  .h4,
  h3,
  .h3,
  h2,
  .h2,
  h1,
  .h1 {
    font-family: var(--title_font);
  }

  a,
  p{
    font-family: var(--base_font);
  }

  .back_link,
  .bottom_link,
  .legal{
    color: whitesmoke;
  }

  .page_link {
    color: $chocolat;
  }
 
  #form_submit {
    background-color: $bonbon;
  }
   
  .text-danger {
    font-weight: bold;
  }

  #mainNav .navbar-brand:hover,
  #mainNav .navbar-toggler:hover,
  .back_link:hover,
  .page_link:hover,
  .bottom_link:hover,
  .legal:hover,
  .nav-item>i:hover,
  #bottomNav>li>.nav-link:hover,
  #buttons-addon2:hover{
    color: $bonbon;
  }

  #mainNav{
    background-color: $moules;
    border-bottom: solid 1px $chocolat;
    padding-left:0.5em;
    padding-right:0.5em;
  }

  #mainNav .navbar-brand {
    color:whitesmoke;
    font-family: var(--title_font);
    font-size: 1.5vw;
  }

  .logo {
    width: 2.5em;
    height: auto;
    padding-right: 10px;
}

#mainNav .nav_container{
  padding-left: 0;
  padding-right:0;
  margin-left:0;
  margin-right:0;
}

.nav-item>i {
    color: $caramel;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

#home_search {
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
    font-family: var(--base_font);
}

#home_search:focus {
    opacity: 100%;
}

.legal_top {
    position: absolute;
    top: 6em;
}

#bottomNav {
  background-color: $moules;
  border-top: solid 1px $chocolat;
}

#bottomNav>ul>li>a{
  font-family: var(--base_font);
}

.input-group>i {
  color: $caramel;
  font-size: 1.5em;
  padding-top: 10px;
  padding-right: 10px;
}