$chocolat: #c45525;
$moules:#345a61;
$bonbon:#86ebe6;
$caramel:#de9440;
$biscuit:#e8a75d;

.nav-item>i {
    color: $caramel;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item>i:hover {
    color: $bonbon;

}

.navbar-brand {
    font-family: "Open Sans", sans-serif;
}

.logo {
    width: 3em;
    height: auto;
    padding-right: 10px;
}

#mainNav {
    background-color: $moules;
    border-bottom: solid 1px $chocolat;
}

#home_search {
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
}

#home_search:focus {
    opacity: 100%;
}

.legal_top {
    position: absolute;
    top: 6em;
}