{% extends "base.html"  %}

{% block content %}


<a title="https://fr.openfoodfacts.org/, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Nutri-score-A.svg"><img width="128" alt="Nutri-score-A" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Nutri-score-A.svg/128px-Nutri-score-A.svg.png"></a>
<a title="https://fr.openfoodfacts.org/, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Nutri-score-B.svg"><img width="128" alt="Nutri-score-B" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Nutri-score-B.svg/128px-Nutri-score-B.svg.png"></a>
<a title="https://fr.openfoodfacts.org/, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Nutri-score-C.svg"><img width="128" alt="Nutri-score-C" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Nutri-score-C.svg/128px-Nutri-score-C.svg.png"></a>
<a title="https://fr.openfoodfacts.org/, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Nutri-score-D.svg"><img width="128" alt="Nutri-score-D" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Nutri-score-D.svg/128px-Nutri-score-D.svg.png"></a>
<a title="https://fr.openfoodfacts.org/, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Nutri-score-E.svg"><img width="128" alt="Nutri-score-E" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Nutri-score-E.svg/128px-Nutri-score-E.svg.png"></a>


{% endblock %}